html {
  font-size: 37.5px;
}
body {
  padding: 44px 0 50px 0;
}
.mui-scroll-wrapper {
  top: 44px;
  bottom: 50px;
}
.mui-bar-transparent {
  background: rgba(243, 125, 15, 0);
}
.mui-bar-nav .iconfont {
  font-size: 24px;
  color: #fff;
}
.mui-bar-nav .search {
  margin: 0;
  padding: 0;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 8px;
  font-size: 12px;
}
.morning {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}
.morning div {
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.morning div img {
  width: 100px;
}
.morning a {
  margin-right: auto;
  margin-left: 0.53333333rem;
  color: #333;
}
.want {
  background-color: #fff;
  text-align: center;
  padding: 0 15px;
  height: 1.6rem;
}
.want i.iconfont {
  font-size: 0.66666667rem;
}
.want p {
  margin: 5px 0 0;
}
.main.mui-content {
  padding: 0;
  margin-top: 10px;
}
.main.mui-content img {
  width: 100%;
}
.main.mui-content .show_l {
  padding-right: 1px;
}
.main.mui-content .show_r {
  padding-left: 1px;
}
.main.mui-content .show_r div {
  height: 3px;
  border-top: 1px solid #ecd2bd;
}
.main.mui-content .black {
  background-color: #fff;
  padding-top: 10px;
}
.main.mui-content .star {
  background-color: #fff;
}
.main.mui-content .star .product {
  border-bottom: 3px solid #fff;
}
.main.mui-content .star .title {
  height: 1.6rem;
  padding-left: 15px;
}
.main.mui-content .star .title img {
  width: auto;
}
.main.mui-content .star .products img {
  width: 100%;
}
.main.mui-content .star .products a {
  width: 50%;
}
.main.mui-content .pro {
  width: 50%;
}
.main.mui-content .pro div {
  padding: 8px 15px;
  width: 100%;
}
.main.mui-content .pro div p {
  margin: 0;
  color: #333;
  font-weight: bold;
}
.main.mui-content .pro div span {
  color: #666;
  display: block;
  width: 100%;
}
.main.mui-content .pro div h6 {
  color: #f40;
  font-size: 20px;
}
.main.mui-content .pro div h6:before {
  content: '¥';
  font-size: 14px;
  vertical-align: text-top;
}
.main.mui-content .pro.pro_l {
  border-right: 1px solid #fff;
}
.main.mui-content .pro.pro_r {
  border-left: 1px solid #fff;
}
