body {
  padding: 44px 0 50px 0;
}
.mui-bar-nav {
  color: #fff;
  background-color: #f37d0f;
  padding: 0 20px;
}
.mui-bar-nav i {
  flex: 1;
}
.mui-bar-nav h2 {
  font-size: 20px;
  flex: 1;
  text-align: center;
  color: #ffffff;
}
.mui-bar-nav span {
  text-align: right;
  flex: 1;
}
.mui-bar-nav a {
  color: #fff;
  font-size: 14px;
}
.mui-scroll-wrapper {
  background-color: #fff;
  top: 44px;
  bottom: 90px;
}
.mui-scroll-wrapper section .cart {
  padding: 20px 20px;
}
.mui-scroll-wrapper section .left .choose {
  width: 40px;
  height: 40px;
  background: url('../images/check_normal.png') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}
.mui-scroll-wrapper section .left .choose.checked {
  background: url('../images/check_press.png') no-repeat center center;
}
.mui-scroll-wrapper section .left .introArea {
  padding-left: 10px;
}
.mui-scroll-wrapper section .left img {
  width: 80px;
  height: 55px;
}
.mui-scroll-wrapper section .left h4 {
  font-size: 14px;
  margin: 0;
}
.mui-scroll-wrapper section .left .style {
  display: block;
  color: #666;
  font-size: 12px;
  margin: 4px 0;
}
.mui-scroll-wrapper section .left p {
  margin: 0;
  color: #ff8228;
  line-height: 1;
}
.mui-scroll-wrapper section .products {
  padding: 20px 0 0;
  background-color: #f4f5f6;
}
.mui-scroll-wrapper section .products ul {
  padding: 15px 0;
  background-color: #fff;
  margin: 0;
}
.mui-scroll-wrapper section .products li {
  flex: 1;
}
.mui-scroll-wrapper section .products li img:first-child {
  border-right: 1px solid #f4f5f6;
}
.mui-scroll-wrapper section .products li img:last-child {
  border-left: 1px solid #f4f5f6;
}
.mui-scroll-wrapper section .products li div {
  padding: 13px 15px 11px;
}
.mui-scroll-wrapper section .products li div em,
.mui-scroll-wrapper section .products li div p {
  font-size: 14px;
}
.mui-scroll-wrapper section .products li div p {
  margin-bottom: 0;
  line-height: 1;
}
.mui-scroll-wrapper section .products li div i {
  font-size: 12px;
  color: #666;
  margin: 6px 0;
}
.mui-scroll-wrapper section .products li div .iconfont {
  font-size: 24px;
  margin: 0;
}
.mui-scroll-wrapper section .products li div .price {
  color: #f40;
  font-size: 20px;
}
.mui-scroll-wrapper section .products li div .price:before {
  content: '¥ ';
  font-size: 14px;
  vertical-align: text-top;
}
.calculate {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 40px;
  text-align: center;
  z-index: 2;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.calculate div {
  flex: 7;
  color: #f40;
  font-size: 16px;
}
.calculate a {
  flex: 3;
  background-color: #F37D0F;
  color: #fff;
}
